body{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
my{

}
a{
    color:black;
    text-decoration:none;
}
.myheader{
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0px   ;
    top: 0px;
    right: 0px;
    bottom: 0px;
}
.upbutton{
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.upbuttonline{
    color: white;
    background: #C5282B;
    z-index: 10;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px 10px;
    line-height: 30px;
    border: 0;
    text-decoration: none;
    outline: 0;
}
.top_kuang{
    height: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    z-index: 3;
    background-color: transparent;
    transition:background-color .3s ease-in;
}
.top_kuang_black{
    background-color: rgba(42, 58, 74, 0.9);
}
.topzhongjian{
    margin-top:70px ;

}
.logoshow{
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.shouyedaohang{

}
.grid{

    padding-left: .375rem;
    padding-right: .375rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.shouyedaohang .grid .item{
    width: 24%;
    height: 1.625rem;
    line-height: 1.625rem;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: .75rem;
    border-radius: .25rem;
    background: #4a89dc;
    color: #666;
    text-decoration: none;
}
.shouyedaohang .grid:last-child{
    padding-left: .375rem;
    padding-right: .375rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

}
.xuanchuan0{
    background-image: url("zhongqidongliP/banner1.png");
    width: 100%;
    height: 10rem;
    background-size: 100% 100%;
    transition: all 1s ease-in;

}

.xuanchuan1{
    background-image: url("zhongqidongliP/banner2.png");
    width: 100%;
    height: 10rem;
    background-size: 100% 100%;
    transition: all 1s ease-in;

}
.xuanchuan2{
    background-image: url("zhongqidongliP/banner3.png");
    width: 100%;
    height: 10rem;
    background-size: 100% 100%;
    opacity:1;
    transition: all 1s ease-in;


}
.index_banners{
    position: relative;
    top:80%;
    left: 46%;
}
.index_banner{

    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #d0cdd1;
}
.index_banner_active{
    background-color: #C5282B;
}
.goumaigonggao{
    font-size: 15px;
    display: flex;
    flex-direction: row;
    padding: 0 12px;
    align-items: center;
    background-color: #fff!important;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    outline: none;
    box-sizing: border-box;
    line-height: 1.6;
    font-family: -apple-system-font,Helvetica Neue,sans-serif;
    margin: 5px;
}
.goumais{
    flex: 1;
    color: #f85;
    font-size: 12px;
    width: 40%;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    box-sizing: border-box;
    height: 35px;
}
.goumaigonggao .goumais ul{
   line-height: 35px;
    list-style-type: none;
    margin: 1px 0 0 0;
    padding-left: 15px;
   transition: all .3s ease-in ;
}
.goumaigonggao .goumais ul li{
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.neirong{

}
.neirong1{
  color: black;
}
.bdgz{
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bdgz .item{
    background: #F7F7F7;
    width: 97%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px 5px 5px 18px;
    font-size: 12px;
    color: #707070;
    margin: 5px;


    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.bdgz img{

    width: 25px;
    height: 25px;
}
.chathide{
    display: none;
}
.chatshow{
    z-index: 4;
    position: fixed;
    height: 80%;
    bottom: -80%;
    width: 100%;

    transition: all  .7s ease-in-out;
}
.chatUp{
    z-index: 4;
    position: fixed;
    height: 80%;
    bottom:0;
    width: 100%;

}
.chatimg{
    position: fixed;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.1em 0.6em 0px, rgba(0, 0, 0, 0.09) 0px 0.2em 3.2em 0px;
    background: rgb(80, 134, 250);
    height: 62px;
    width: 5.6em;
    border-radius: 50%;
    font-size: 11.04px;
    margin-left: 0px;
    margin-top: 0px;
    left: 334.4px;
    bottom: 101.1px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.haschat{
    display: block;
    text-decoration: none;
    position: absolute;
    z-index: 3;
    text-align: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
    width: 1.33em;
    height: 1.33em;
    font-size: 1.2em;
    line-height: 1.33em;
    top: 0.67em;
    right: 0.67em;
}




@media (max-width: 480px) and (min-width: 324px)
{
    html {
        font-size: 18px;
    }
}
